@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&display=swap');
:root{
    --color_defundo:#050035;
    --green:#159215;
    --pink:#f0179c;

}

body{
    background-color: var(--color_defundo);
    color:var(--green);
    text-align: center;
    font-family: 'Jersey 10';
}

h1 span{
    color:var(--pink);
}

#dias_restantes{
    color: var(--pink);
    font-size: 50px;
}